body {
    font-family: Roboto, Helvetica, sans-serif;
    text-align: center;
 }
 
 #board {
    font: 85px arial, sans-serif;
    margin: 3px;
   /* TODO: Add your solutions here */    
 }
 
 #board > div {
    border: 1px solid LightSkyBlue;
    text-align: center;
 }
 
 .x {
    color: red;
 }
 
 .o {
    color: blue;
  }
 